@page "{id:int}"
@model StatHammer.Server.Pages.Admin.Abilities.EditModel

@{
    ViewData["Title"] = "Редактировать правило";
}

<h1>Редактировать правило</h1>

<div class="card">
    <form method="post">
        <div asp-validation-summary="All" class="error"></div>

        <input type="hidden" asp-for="Id" />

        <div class="form-row">
            <label asp-for="Input.Name"></label>
            <input asp-for="Input.Name" />
            <span asp-validation-for="Input.Name"></span>
        </div>

        <button class="btn" type="submit">Сохранить</button>
        <a class="btn btn-secondary" asp-page="/Admin/Abilities/Index">Отмена</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}